/* Create the semi-circle shape */
.semi-circle {
    width: 100px;
    height: 50px;
    border-radius: 50% 50% 0 50%;
    background-color: rgb(77, 42, 42);
  }
  
  /* Add the animation to spin the semi-circle */
  .semi-circle:hover {
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }

  .container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgb(24, 168, 168);
  }
  
  .circle {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ff00ff;
  }
  .circle:hover {
    transform: scale(2);
  }
  .dot {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ff00ff;
    animation: dot-animation 1s ease-in-out infinite;
  }
  @keyframes dot-animation{
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
  }
  @keyframes dot-animation {
    0% {
        top: 0px;
        left: 0px;
    }
    100% {
        top: calc(100vh - 20px);
        left: calc(100vw - 20px);
    }
  }

.dot {
    animation-name: dot-animation;
    animation-direction: normal;
    animation-timing-function: steps(30);
}
.dot:hover {
    transform: scale(2);
  }