/* Create the semi-circle shape */
.semi-circle {
    width: 100px;
    height: 50px;
    border-radius: 50% 50% 0 50%;
    background-color: #333;
  }
  
  /* Add the animation to spin the semi-circle */
  .semi-circle:hover {
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }

  .container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: azure;
  }
  
  .circle {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ff00ff;
  }
  .circle:hover {
    transform: scale(2);
  }
  .dot {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ff00ff;
    transition: all 1s ease;
  }
  .dot:hover {
    transform: scale(2);
  }